/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    display:none;
}

#loading {
	position:absolute;
	background:#E8EAF6 url('../img/loader.gif') center center no-repeat;
	width:100vw;
	height:100vh;
	z-index:999;
}

#choix_personnages {
	position:absolute;
	background:#E8EAF6;
	width:100vw;
	height:100vh;
	z-index:998;
	text-align:center;
}
#choix_personnages h1 {
	padding:20px 0 0 0;
	text-align:center;
	color:#212121;
	font-weight:bold;
	text-shadow:0 1px #fff;
}
#startGame {
	background:#0091EA;
	color:#fff;
	padding:8px;
	margin:auto;
	font-size:24px;
	font-weight:bold;
	border:none;
}
#blocs_personnage {
	display:table;
	width:86vw;
	margin:0 5vw 5vh 5vw;
	padding:2vw;
}
.bloc_personnage {
	float:left;
	background:#fafafa;
	width:42%;
	height:100px;
	margin:2%;
	padding:2%;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	text-align:center;
	transition: 0.1s;
	transition-timing-function: ease-in;
}
.personnage_selected{
	box-shadow:0 4px 8px rgba(0,0,0,0.4);
}

#stage {
	width:100vw;
	height:100vh;
}
#menu {
	position:absolute;
	top:0;
	width:100vw;
	height:50px;
	line-height:50px;
	text-align:center;
	z-index:100;
}
#crash {
	display:none;
	position:absolute;
	top:40vh;
	width:100vw;
	background:red;
	text-align:center;
	font-size:36px;
	z-index:111;
}
#levelup {
	display:none;
	position:absolute;
	bottom:10vh;
	width:100vw;
	background:yellow;
	text-align:center;
	font-size:36px;
	z-index:111;
}
#background {
	background-size:100%;
	width:100vw;
	height:200vh;
	animation-name:moving_background;
	animation-duration:10s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
	z-index:1;
}
@keyframes moving_background {
	from {-webkit-transform: translateY(0px);}
	to {-webkit-transform: translateY(-100vh);}
}
#hero {
	position:absolute;
	top:60px;
	left:33.33333333333%;
	width:33.33333333333%;
	height:100px;
	z-index:98;
}
.hero_nodegat {
	animation-name:hero_nodegat;
	animation-duration:1s;
	animation-timing-function: ease;
	animation-iteration-count:infinite;
}
@keyframes hero_nodegat {
	0% {opacity:0.5;}
	50% {opacity:0.2;}
	100% {opacity:0.5;}
}

.zone {
	position:absolute;
	float:left;
	width:33.33333333333%;
	height:100vh;
}

#zone_danger{
	position:absolute;
	top:60px;
	background:rgba(255,0,0,0.2);
	width:100vw;
	height:100px;
	z-index:88;
}

#btReload {
	background:orange;
	padding:8px;
	border:none;
	font-size:30px;
}

.obstacle {
	position:absolute;
	bottom:-200px;
	width:33.33333333333%;
	height:100px;
	animation-name:moving_obstacle;
	animation-timing-function: linear;
	z-index:99;
}
.obstacle_debug {
	position:absolute;
	bottom:-200px;
	background:rgba(0,255,0,0.2);
	width:33.33333333333%;
	height:100px;
	animation-name:moving_obstacle;
	animation-timing-function: linear;
	z-index:99;
}
.obstacle_zone_1 {
	left:0;
}
.obstacle_zone_2 {
	left:33.33333333333%;
}
.obstacle_zone_3 {
	left:66.66666666665%;
}

@keyframes moving_obstacle {
	from {-webkit-transform: translateY(0px);}
	to {-webkit-transform: translateY(-150vh);}
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
